.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-list {
  header {
    font-size: 3em;
    font-weight: bold;
    margin: 20px;
  }
  .list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.question-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.quiz-card,
.quiz-intro,
.question,
.question-option,
.quiz-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
  padding: 8px;
  header {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: bold;
  }
  > img,
  video {
    margin: 8px;
    padding: 8px;
    max-width: 100%;
  }
  button {
    align-self: center;
  }
}

.question-option {
  header {
    margin: 0;
  }
  flex-grow: 1;
  max-width: 45%;
  transition: background-color 1000ms linear;
}

.question-option__header__result-indicator {
  height: 2em;
  width: 2em;
}

.quiz-card,
.quiz-intro,
.question-option {
  &:hover {
    cursor: pointer;
  }
}

.quiz-card,
.question > img,
.question-option,
.quiz-summary {
  border: 1px black solid;
  background-color: lightcyan;
}

.question-option-header {
  display: flex;
  justify-content: space-around;
}

.quiz-card {
  max-width: 450px;
}

.quiz-summary-score {
  font-size: 1.5em;
  font-weight: bold;
  color: blue;
}

.quiz-summary-score--graphic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  background-color: blue;
  color: white;
  width: 70vw;
  height: 70vh;
  margin: 10px;
}

.growing-element {
  transition: transform 1500ms linear;
  transform: scale(2);
}

.loading-indicator {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar__item {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
}

.progress-bar__item--active {
  height: 15px;
  width: 15px;
  background-color: blue;
}

.progress-indicator {
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  color: blue;
}
